@mixin formtastic
  .fill-dialog
    +column(9)
    background: white
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4)
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4)
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4)
    -webkit-border-radius: 6px
    -moz-border-radius: 6px
    border-radius: 6px
    padding: 10px 5px 10px 10px

  h2.form-title
    margin-bottom: 20px

  form.formtastic
    +column(9)

    li
      list-style: none
      overflow: hidden

      &.error
        padding: 0
        margin: 0 0 10px 0
        border: 0
        background: none

        input, select
          background-color: rgba(255, 0, 0, 0.1)

    .form-fields
      li
        p
          padding: 0
          margin: 0 0 0 100px

      select, input
        display: inline-block
        width: 230px

      label
        display: inline-block
        width: 100px

    .form-buttons
      padding-top: 15px
      text-align: center
