$header = #cddae3
$section = #316594
$page = #ffffff
$footer = #d0d9e0

@import "blueprint/reset"
@import "partials/base"
@import "partials/header"
@import "partials/tabs"
@import "partials/topside"
@import "blueprint"
@import "blueprint/scaffolding"

+blueprint
+blueprint-scaffolding("body")
+tabs

.container
  +container

.none
  display: none

.bad
  background-color: rgba(200, 20, 20, 0.4)

.good
  background-color: rgba(20, 200, 20, 0.4)

body
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-interaction
  background-color: $footer

  a.button
    text-decoration: none
    color: #3C3C3D

  #section
    background-color: $page
    overflow: auto

    #page
      +column(24)
      padding: 20px 0

  +header
  +topside
