@import "blueprint/reset"
@import "partials/base"
@import "blueprint"
@import "blueprint/scaffolding"

+blueprint
+blueprint-scaffolding("body.bp")

$header = #cddae3
$section = #316594
$page = #ffffff
$footer = #d0d9e0

.container
  +container

.dialog
  display: none

  form

    label.price_label
      width: 110px
      display: inline-block

    input.price_input
      display: inline-block
      width: 300px

    input.price_edit
      width: 100px

body
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-interaction

  background-color: $footer

  a.button
    text-decoration: none
    color: #3C3C3D

  .header
    background-color: $header

    /* temp */
    height: 60px
    // border-bottom: 1px solid #5c7a92

    h1
      padding-top: 10px

      a
        font-family: 'Puritan', arial, serif
        margin-top: 8px
        color: #444
        font-size: 40px
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.6)
        text-decoration: none
        -webkit-transition: all 0.4s

      a:hover
        color: #000
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.9)

  .topside
    background: $section url("/images/section_100.png") center
    height: 100px
    overflow: hidden

    .university-side
      +column(24)
      height: 100px
      position: relative

      .logo
        +column(2)
        padding-top: 5px

        img
          width: 64px
          height: 64px
          display: inline-block

      .edit_buttons
        +column(7, true)
        text-align: right
        -webkit-transition: all 0.4s
        opacity: 0.5

        &:hover
          opacity: 1

      .item
        +column(22, true)
        padding-top: 8px
        display: inline-block

      .title
        +column(15)

        h2
          margin: 0
          padding: 0

      ul.tabs
        padding: 0
        list-style: none
        list-style-type: none
        margin: 0
        position: absolute
        bottom: 0
        z-index: 2000

        li
          display: inline-block
          margin-left: 3px
          padding: 3px 12px
          -webkit-border-top-left-radius: 5px
          -webkit-border-top-right-radius: 5px
          background-color: #DDD
          opacity: 0.85
          -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1)

          &.current
            background: white
            -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4)
            opacity: 1

            a
              color: black

          a
            color: #334
            text-decoration: none
            font-weight: bold
            font-size: 13px

    .search-side
      +column(24)

      h2
        color: white
        +column(24)
        margin: 0
        padding: 10px 0 5px 0

      .search
        width: 944px
        overflow: auto
        padding: 3px
        // z-index: 1000
        -webkit-transition: all 0.4s

        input[type=text]
          width: 830px
          margin: 0
          padding: 0
          height: 24px
          border: 0
          -webkit-box-shadow: 0 0 3px black
          -webkit-border-top-left-radius: 6px
          -webkit-border-bottom-left-radius: 6px

        input[type=submit]
          width: 114px
          margin: 0
          padding: 0
          border: 0
          height: 24px
          cursor: pointer
          -webkit-box-shadow: 0 0 3px black
          -webkit-border-top-right-radius: 6px
          -webkit-border-bottom-right-radius: 6px

  .section
    background-color: $page
    overflow: auto

    .page
      +column(24)
      padding: 20px 0
      // +showgrid

      img
        +column(8)

      p
        +column(16, true)
        color: #222
        font-size: 13px

        &.register
          color: black
          background-color: rgba(55, 55, 255, 0.1)
          padding: 10px 0
          text-align: center
          font-size: 14px
          border-top: 1px solid rgba(50, 50, 250, 0.25)

          span
            text-shadow: 0 0 3px rgba(255, 255, 255, 0.3)

        span.grafter
          font-weight: bold
          font-size: 1.3em
          text-decoration: underline
          color: black

      ul
        list-style: none
        margin: 0
        padding: 2px

        li
          display: inline-block
          margin: 0 5px 5px 0

          a.university_item
            padding: 3px 6px
            background: #3CF
            text-decoration: none
            color: #333
            display: block
            -webkit-transition: all 0.3s

            &:hover
              background: #2BE
              -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3)

            img.icon
              display: inline-block
              width: 32px
              height: 32px

            span.feed
              display: block
              position: absolute
              margin: -8px 0 0 -12px
              background: #25F
              padding: 0 6px
              -webkit-border-radius: 12px
              font-weight: bold
              color: white
              -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)

            .item
              display: inline-block

              h3
                margin: 0
                padding: 0

              span.city

      .signup-footer
        p
          +column(24)
          margin-top: 15px

      .tab_container
        +column(24)
        position: relative

        .tab_options
          +column(17)

        .tab_buttons
          +column(7, true)
          text-align: right

        .tab_items
          +column(24)

          table

            th.buttons
              text-align: right
              padding: 0

  .footer
    background: $footer url("/images/footer.png") repeat-x
    height: 200px
