development:
  adapter: postgresql
  database: grafter_development
  username: grafter
  encoding: unicode
  password: ""

test: &test
  adapter: postgresql
  database: grafter_test
  username: grafter
  encoding: unicode
  password: ""

production:
  adapter: postgresql
  database: grafter
  username: grafter
  encoding: unicode
  password: ""

cucumber:
  <<: *test
