development:
  adapter: postgresql
  database: grafter_development
  pool: 5
  timeout: 5000
  username: root

test: &test
  adapter: postgresql
  database: grafter_test
  pool: 5
  timeout: 5000
  username: root

production:
  adapter: postgresql
  database: grafter
  pool: 5
  timeout: 5000
  username: root

cucumber:
  <<: *test
