development:
  adapter: pg
  database: grafter_development
  pool: 5
  timeout: 5000
  username: root

test: &test
  adapter: pg
  database: grafter_test
  pool: 5
  timeout: 5000
  username: root

production:
  adapter: pg
  database: grafter
  pool: 5
  timeout: 5000
  username: root

cucumber:
  <<: *test
