= semantic_form_for [@university, @review] do |form|
  = form.input :kind, :as => :select, :collection => {"All" => :all, "Good" => 1, "Neutral" => 0, "Bad" => -1}
  = form.input :text, :as => :text

  = submit_tag
